[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "gcp_dbt_remote"
version = "0.4.3"
description = "cli to run dbt commands on GCP Cloud Run Jobs using dbt-server."
authors = ["emma.galliere <emma.galliere@artefact.com>"]
readme = ["README.md"]
packages = [
    { include = "dbt_remote" },
    { include = "dbt_server" }
]

[tool.poetry.dependencies]
python = ">= 3.10, < 3.12"
google-cloud-run = "^0"
dbt-bigquery = ">=1.7.0 <1.8.0"
click-aliases = "^1"
termcolor = "^2"
google-cloud-build = "^3"
python-multipart = "^0"
cron-descriptor = "^1"
google-cloud-iam = "~2"

# dbt-server dependencies
google-cloud-logging = "^3"
uvicorn = "^0"
fastapi = "^0"
google-cloud-firestore = "^2"
google-cloud-scheduler = "^2"

# pytest dependencies
pytest = "^7"
httpx = "^0"
requests-mock = "^1"
pyfakefs = "^5"

[tool.poetry.scripts]
dbt-remote = "dbt_remote.cli:cli"

[tool.pytest.ini_options]
pythonpath = [".", "dbt_remote", "dbt_server"]
